#version=RHEL7+
{% if virt_guest_os_location | regex_findall('\\d') | first == "8" %}
# Install minimal environment
%packages
@^minimal-environment
%end
{% endif %}

# System authorization information
auth --enableshadow --passalgo=sha512

# Disable the Setup Agent on first boot
firstboot --disable
text
# Accept EULA license
eula --agreed

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
{% if item.value.network.eth0.ip is not defined %}
{% if virt_guest_os_location | regex_findall('\\d') | first == "7" %}
network --bootproto=dhcp --device=eth0 --noipv6 --activate
{% elif virt_guest_os_location | regex_findall('\\d') | first == "8" %}
network --bootproto=dhcp --device=ens7 --noipv6 --activate
{% endif %}
{% else %}
{% if virt_guest_os_location | regex_findall('\\d') | first == "7" %}
network --bootproto=static --device=eth0 --ip={{ item.value.network.eth0.ip }} --netmask={{ item.value.network.eth0.netmask }} --gateway={{ item.value.network.eth0.gateway }} --nameserver={{ item.value.network.eth0.dns }} --noipv6 --activate
{% elif virt_guest_os_location | regex_findall('\\d') | first == "8" %}
network --bootproto=static --device=ens7 --ip={{ item.value.network.eth0.ip }} --netmask={{ item.value.network.eth0.netmask }} --gateway={{ item.value.network.eth0.gateway }} --nameserver={{ item.value.network.eth0.dns }} --noipv6 --activate
{% endif %}
{% endif %}
network --hostname={{ virt_guest_init_hostname }}
# Root password
rootpw --plaintext {{ virt_guest_init_passwd }}
# System services
services --enabled="chronyd"
# System timezone
timezone UTC --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="{{ item.value.disk.sda.fstype | default('xfs') }}" --ondisk=sda --size=512
part / --fstype="{{ item.value.disk.sda.fstype | default('xfs') }}" --ondisk=sda --grow
